---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import WhyMade from "../components/WhyMade.astro";
import About from "../components/About.astro";
import Price from "../components/Price.astro";
import Form from "../components/Form.astro";
---

<Layout title="Оформление профилей инстаграм">
	<main>
		<Hero />
		<WhyMade />
		<About />
		<Price />
		<Form />
	</main>
</Layout>

<style></style>
