<button class="btn"><slot /></button>
<style>
  .btn {
    background: var(--white);
    padding: 3px 15px;
    width: 260px;
    height: 60px;
    border: 2px solid var(--danube);
    border-radius: 18px;
    font-size: 18px;
    color: var(--kashmir);
    margin: 10px 0;
  }
</style>
