<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div><p>© Copyright 2020 / instamontag.tk</p></div>
      <div><img src="/img/instagram.svg" width="50" alt="insta" /></div>
    </div>
  </div>
</footer>
<style lang="scss">
  .footer {
    background: linear-gradient(var(--white), var(--danube));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0 15px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
</style>
